///*******************///
///     Variables     ///
/// ******************///
$background-color: #111;
$title-color: #0FB4EB;
$preset-num-color: #FF8F32;
$thin-width: 1;
$thick-width: 2;
$thin-border: #{$thin-width}px solid #444;
$thick-border: #{$thick-width}px solid #f1f1f1;
$thick-highlighted-border: #{$thick-width}px solid $title-color;
$button-background: #bbb;

$title-font-size: 50px;
$cell-size: 40px;
$cell-font-size: 32px;
$content-width: #{($cell-size * 9) + ($thick-width * 4) + (($thin-width + 1) * 6)};

$small-title-font-size: 40px;
$small-cell-size: 30px;
$small-cell-font-size: 25px;
$small-content-width: #{($small-cell-size * 9) + ($thick-width * 4) + (($thin-width + 1) * 6)};

$small-screen: 400px;

///****************///
///     Styles     ///
///****************///
body {
	background-color: $background-color;
	text-align: center;
}
#page-title {
	margin: 30px auto;
	font-size: $title-font-size;
	color: $title-color;
}
#game {
	width: $content-width;
	margin: auto;
	#board {
		margin-bottom: 20px;
	}
	table {
		border-collapse: collapse;
		colgroup, tbody {
			border: $thick-border;
		}
		td {
			border: $thin-border;
			height: $cell-size;
			width: $cell-size;
			font-size: $cell-font-size;
			text-align: center;
			padding: 0;
			color: #f1f1f1;
			cursor: pointer;
		}
		.selected {
			border: $thick-highlighted-border;
		}
		.stuck {
			color: $preset-num-color;
		}
	}
}
#cell-options-container {
	display: inline-block;
	vertical-align: middle;
	width: 34%;
	position: relative;
	#cell-options-overlay {
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 2;
		background-color: rgba(0,0,0,0.7);
	}
	#number-options {
		margin-bottom: 5px;
	}
	table {
		tbody {
			border: $thick-highlighted-border;
		}
	}
}
#reset-button-container {
	display: inline-block;
	vertical-align: middle;
	width: 66%;
	#reset-button {
		width: 90%;
		height: 50px;
		line-height: 50px;
		margin-left: 10%;
	}
}
.button {
	height: 30px;
	line-height: 30px;
	border-radius: 10px;
	text-align: center;
	font-size: 20px;
	background-color: $button-background;
	cursor: pointer;
}

@media screen and (max-width: $small-screen) {
	#page-title {
		font-size: $small-title-font-size;
	}
	#game {
		width:	$small-content-width; 
		table {
			td {
				height: $small-cell-size; 
				width: $small-cell-size;
				font-size: $small-cell-font-size;
			}
		}
	}
}